.slider-home {
  margin: -6px;
  height: 92dvh;
  width: fit-screen;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  overflow: hidden;
  margin-left: -17px;
  margin-right: -16px;
}

.slider {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slider-btn {
  position: absolute;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  color: white;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background-color: rgba(32, 27, 27, 0);
  border-radius: 50%;
  border: none;
  cursor: pointer;
  padding: 1rem;
}
.prev {
  left: 1rem; /* Para ubicar el botón a la izquierda */
}
.prev:hover {
  left: -0.1rem; /* Para ubicar el botón a la izquierda */
  transition: 0.7s;
  color: #ff4081;
  filter: drop-shadow(0 0 100px #ff4081) /* Más desenfoque */
        
        drop-shadow(30px 0 10px #ff4081);
}

.next {
  right: 1rem; /* Botón a la derecha */
}
.next:hover{
  right: 0.1rem;
  transition: 0.7s;
  color: #ff4081;
  filter: drop-shadow(0 0 100px #ff4081) /* Más desenfoque */
        drop-shadow(-30px 0 10px #ff4081);
}

/* Capas de imagen */
.slider-image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slider-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top, center;
}

/* SALIENTE - "old" */
.slide-old.next {
  animation: slideOutLeft 1s forwards;
}
.slide-old.prev {
  animation: slideOutRight 1s forwards;
}

/* ACTUAL - "current" */
.slide-current.next {
  animation: slideInRight 1s forwards;
}
.slide-current.prev {
  animation: slideInLeft 1s forwards;
}

/* Keyframes */
@keyframes slideOutLeft {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0.25;
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOutRight {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0.25;
  }
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .slider-home {
    width: 101dvw;
    height: 80dvh; /*Para tablet puedo manejar mas*/
    padding: 0%;
    overflow: hidden;
  }

  .slider-image-container img {
    
    object-fit: cover;
    object-position: center;
    object-position: top;
  }

  .slider-btn {
    position: absolute;
    color: white;
    top: 72%;
    transform: translateY(-50%);
    z-index: 10;
    background-color: none;
    border-radius: 50%;
    border: none;
    
  }

  .prev {
    left: 0.5rem; /* Para ubicar el botón a la izquierda */
  }
  
  .next {
    right: 0.5rem; /* Botón a la derecha */
  }

  .slider-btn:hover {
    transition: 0.3;
    color: #ffffffd5;
  
  }
}
