/* El contenedor se posiciona relativo y oculta lo que sobresalga */
.container-vertical-slider {
  position: relative;
  width: 100%;
  height: 100dvh;
  /* overflow: hidden; */
  scroll-behavior: smooth;
}

/* Todas las secciones se posicionan de manera absoluta para superponerse */
.container-vertical-slider .image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  /* color: #fff; */
}

.section-1{
  margin: 0;
  height: 100vh;
  background: linear-gradient(
    45deg,
    #660000 0%,   /* granate oscuro */
    #e10b0a 25%,  /* rojo vivo */
    #ffe938 50%,  /* amarillo/dorado Guns N’ Roses */
    #000000 75%,  /* negro profundo */
    #660000 100%  /* vuelve al granate */
  );
  background-size: 400% 400%;
  animation: gnrGradient 20s ease infinite;

}
@keyframes gnrGradient {
  0%   { background-position:   0% 50%; }
  50%  { background-position: 100% 50%; }
  100% { background-position:   0% 50%; }
}

.section-2 {
  background: linear-gradient(
    to bottom,
    #252526 0%,
    #252526 60%,
    #848383 70%,
    #bebebe 80%,
    #eaeaea 90%,
    #d6d6d6 100%
  );

  background-size: cover;
  background-repeat: no-repeat;
}

.section-3 img {
  z-index: 100;
}
.section-3 {
  /* base rosa */
  background-color: #e31e79;
  position: relative;
  --min-deg: 0.1deg;
  --max-deg: 0.15deg;
  /* tu patrón de conic-gradients */
  --general-gradient: repeating-conic-gradient(
      from 0deg at 0% 0%,
      orange 0 var(--min-deg),
      blue var(--min-deg) var(--max-deg)
    ),
    repeating-conic-gradient(
      from 0deg at 100% 0%,
      orange 0 var(--min-deg),
      blue var(--min-deg) var(--max-deg)
    ),
    repeating-conic-gradient(
      from 0deg at 100% 100%,
      orange 0 var(--min-deg),
      blue var(--min-deg) var(--max-deg)
    ),
    repeating-conic-gradient(
      from 0deg at 0% 100%,
      orange 0 var(--min-deg),
      blue var(--min-deg) var(--max-deg)
    );
}
.section-3 img {
  position: relative;
  z-index: 0;
}

.section-3::before {
  content: "";
  z-index: 0;
  position: absolute;
  inset: 0;
  /* aplicamos el patrón encima */
  background: var(--general-gradient);
  /* modo de fusión para el “glitch” */
  background-blend-mode: difference;
}

.section-4 {
  /* degradado sencillo de tonos amarillos */
  background: linear-gradient(
    to right,
    #fff9c4 0%,
    /* amarillo muy claro */ #ffeb3b 50%,
    /* amarillo brillante */ #fbc02d 100% /* amarillo oscuro */
  );
}

.section-5 {
  color: #02adc0;
  position: relative;
  /* inset: 0; */
  width: 100%;
  height: 100%;
  background: white;
  background: radial-gradient(125% 125% at 50% 10%, #fff 40%, #02adc0 100%);
  /* z-index: -10; */
}
.section-5 img {
  height: 84vh;
}

.section-6 {
  width: 100%;
  /* height: 100%; */
  /* Add your background pattern here */
  background: linear-gradient(
    -45deg,
    #fe4d71,
    #ff7e71,
    #830c1a,
    #dd5f52,
    #ffcf6e,
    #bf122c
  );
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
  height: 200%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 50% 100%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 50% 0%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* La primera sección se muestra de forma normal */
.section-7 {
  color: white;
  height: 100dvh;

  background: linear-gradient(
    145deg,
    #2e4d7a 0%,
    /* Tonalidad azulada oscura */ #12172b 50%,
    /* Azul muy oscuro (casi negro) */ #216380 100% /* Azul verdoso más claro */
      /* verde más claro al final */
  );
}

@media screen and (max-width: 768px) {
  .section-5 img {
    height: 60vh;
  }
}
