/*.rellax-container {
    /* position: relative; */
    /*overflow: hidden;
    margin-bottom: 80rem;
}

.rellax {
    /* position: relative; */
    /* z-index: 1;
}

#spotify {
    height: 100dvh;
    width: 100%;
    
    
}

#artist-home-container{
    height: 100dvh;
    width: 100%;
    background-color: rgb(255, 255, 255);
}
#social-home-container{
    background-color: rgb(255, 255, 255);
    height: 100dvh;
    width: 100%;
}

@media screen and (max-width: 768px){
    #spotify{
        margin-top: 0rem;
        margin-bottom: 18rem;
    }
    #artist-home-container{
        height: 100dvh;
        width: 90dvw;
        
    }
} */
