.ocesa-playlist-section{
    height: 80vh;
    margin-bottom: 2rem;
    width: 100dvw;
}
h3{
    font-family: 'Lemon Milk', sans-serif;
    font-size: 2rem;
    text-align: center;
    padding-bottom: 1rem;
    /* margin-right: 2rem; */
}

.ocesa-playlist-container{
    /* height: 100dvh; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    width: 100dvw;
} 

.ocesa-playlist-title{
    margin-top: 3rem;
}

.ocesa-playlist{
    border-radius: '12px';
    width: 60vw;
    height: 400px;
    margin-right: 2rem;
    /* margin-left: 5rem; */
}

.pauta{
    border-radius: 12px;
    height: 400px;
    width: 30vw;
}

@media screen and (max-width: 768px) {
    .ocesa-playlist-section{
        height: 130vh;
        margin-top: 2rem;
    }

    .ocesa-playlist-container{
        flex-direction: column;
        align-items: center;
    }
    
    .ocesa-playlist{
        width: 90dvw;
        margin-right: 0rem;
        margin-left: 0rem;
    }
    .pauta{
        width: 90dvw ;
        height: 400px;
        margin-bottom: 5rem;
    }
}