.ocesa-playlist-section{
    height: 80dvh;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 90dvw;
}
h3{
    font-family: 'Lemon Milk', sans-serif;
    font-size: 2rem;
    text-align: center;

}
.ocesa-playlist-container{
    /* height: 100dvh; */
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 90dvw;
}

.ocesa-playlist{
    border-radius: '12px';
    width: 60vw;
    height: 400px;
    margin-right: 2rem;
    margin-left: 5rem;
}

.pauta{
    border-radius: 12px;
    
}

@media screen and (max-width: 768px) {
    .ocesa-playlist-section{
        height: 110dvh;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .ocesa-playlist-container{
        flex-direction: column;
        align-items: center;
        margin-left: -1rem;
    }
    img{
        width: 80dvw;
    }
    .ocesa-playlist{
        width: 80dvw;
        margin-right: 0rem;
        margin-left: 0rem;
    }
}