@font-face{
  font-family: 'Lemon Milk';
  src:  url('/fonts/LEMONMILK-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: bold;
}

@font-face{
  font-family: 'Lemon Milk Regular';
  src:  url('/fonts/LEMONMILK-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

:root{
  font-family: 'Lemon Milk', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}
