.about-us-1{
    height: 91dvh;
    width: 100vw;
    padding-top: 0;
    align-content: center;
    margin-left: -1rem;
    position: relative; /* Add this line */
}
#title-about{
    font-size: 4.5rem;
    color: #fff; 
    text-align: center; 
    z-index: 20; 
    position: absolute; 
    top: 40%; 
    width: 100%;
}
.concierto{
    width: 100%;
    height: 91dvh ;
    z-index: 10;
    object-position: center calc(100% - 10%); ;
    bottom: 10%;
}

.about-us-2{
    
    height: 50dvh;
    padding-top: 1rem;
}

.about-us-text{
    font-size: 2rem;
    text-align: justify;

}

.about-us-container-2 {
    display: flex;
    align-items: center; /* Centra verticalmente */
    padding: 1.5rem;
    margin-top: -1rem;
    margin-left: -1rem;
    color: #fff;
    width: 100vw;
    height: 100%;
    --s: 200px; /* control the size */
    --c1: #1d1d1d;
    --c2: #4e4f51;
    --c3: #3c3c3c;

    background: repeating-conic-gradient(
        from 30deg,
        #0000 0 120deg,
        var(--c3) 0 180deg
        )
        calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
    repeating-conic-gradient(
        from 30deg,
        var(--c1) 0 60deg,
        var(--c2) 0 120deg,
        var(--c3) 0 180deg
    );
    background-size: var(--s) calc(var(--s) * 0.577);
}


@media screen and (max-width: 768px){
    #title-about{
        font-size: 3rem;
        top: 70%;
        user-select: none;
        line-height: 1.1;
        /* padding: -1rem; */
    }
    .concierto{
        object-position: bottom;
        user-select: none;
    }

    .about-us-2{
        height: fit-content;
        
    }
    

}