.about-us-1{
    height: 91dvh;
    width: 100vw;
    padding-top: 0;
    align-content: center;
    margin-left: -1rem;
    position: relative; /* Add this line */
}
#title-about{
    font-size: 4.5rem;
    color: #fff; 
    text-align: center; 
    z-index: 20; 
    position: absolute; 
    top: 40%; 
    width: 100%;
}
.concierto{
    width: 100%;
    height: 91dvh ;
    z-index: 10;
    object-position: center calc(100% - 10%); ;
    bottom: 10%;
}

.about-us-2{
    height: 40dvh;
    padding-top: 1rem;
}

@media screen and (max-width: 768px){
    #title-about{
        font-size: 3rem;
        top: 70%;
        user-select: none;
        /* padding: -1rem; */
    }
    .concierto{
        object-position: bottom;
        user-select: none;
    }
    

}