.events-slider-section {
    height: 100dvh;
    width: 97dvw;
    /* padding: 1rem; */
    /* margin-bottom: 2rem; */
}

h3{
    /* color: white; */
    padding: 1rem;
}

.wrapper1, .wrapper2 {
    display: flex;
    width: 100vw;
    height: 50%;
    overflow: hidden;
    justify-content: space-evenly;
    margin-left: -2rem;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card {
    flex: 1;
    /* min-width: 100px;
    min-height: 100px; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    transition: flex 0.3s ease;
}

.event-1 {
    background-color: black;
}

.event-2 {
    background-color: rgb(146, 146, 146);
    color: black;
}

.event-3 {
    background-color: rgb(0, 0, 0);
}

.event-4 {
    background-color: rgb(146, 146, 146);
    color: black;
}

.event-5 {
    background-color: rgb(0, 0, 0);
}

.event-6 {
    background-color: black;
}

.event-7 {
    background-color: rgb(146, 146, 146);
    color: black;
}

.event-8 {
    background-color: rgb(0, 0, 0);
}

.event-9 {
    background-color: rgb(146, 146, 146);
    color: black;
}

.event-10 {
    background-color: rgb(0, 0, 0);
}

.card:hover {
    flex: 1.30;
    transition: 0.5s;
    background-color: 30px 4px 30px rgba(0, 0, 0, 0.637);
    opacity: 0.2; 
    /* box-shadow: 30px 4px 30px rgba(0, 0, 0, 0.1); */
}

@media screen and (max-width: 768px) {
    .wrapper1 {
        display: block;
        height: 100%;
        width: 100.75dvw;
        margin-left: -1rem;
    }
    .wrapper2 {
        display: none;
    }
    .card {
        flex: 1;
        height: 25%;
        
    }
    img {
        object-position: top;
    }
}

