.events-slider-section {
    height: 110dvh;
    width: 97dvw;
    margin-top: 2rem;
}

h3 {
    padding: 1rem;
}


.event-slider-section-title {
    margin-bottom: 1.5rem;
}

.event-name{
    font-size: 2rem;
}

.wrapper1, .wrapper2 {
    display: flex;
    width: 100dvw;
    height: 45%;
    overflow: hidden;
    justify-content: space-evenly;
    margin-left: -2rem;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-event {
    flex: 1;
    /* min-width: 100px;
    min-height: 100px; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    transition: flex 0.3s ease;
    overflow: hidden;
    filter: grayscale(0%);
    
}

.card-event img {
    height: 100%;
    transition: all 0.5s ease; 
    transform: scale(1.1); 
}

.card-event:hover img {
    transform: scale(1); 
    filter: brightness(1.2) blur(4px) grayscale(100%); 
    transition: all 0.5s ease; 
}

.overlay-content {
    position: absolute; 
    align-items: center;
    text-align: center; 
    background: none;
    color: #fff; 
    opacity: 0; 
    visibility: hidden;
    transition: opacity 0.5s ease; 
    z-index: 10;
}
.overlay-content p {
    margin-bottom: 2rem;
}
.voltage-button {
    position: relative;
    z-index: 100;
    filter: none; /* Asegura que no haya efectos no deseados */
}

.card-event:hover .overlay-content {
    opacity: 1; 
    visibility: visible; 
} 

.card-event:hover {
    flex: 1.3;
    background: #870F46; /* Aplica el color de fondo */
    box-shadow: 0 0 80px 5px #870F46; /* Sombra de la tarjeta */
    transition: box-shadow 0.5s ease, flex 0.5s ease; 
}

.event-1 {
    background-color: black;
}

.event-2 {
    background-color: rgb(146, 146, 146);
    color: black;
}

.event-3 {
    background-color: rgb(0, 0, 0);
}

.event-4 {
    background-color: rgb(146, 146, 146);
    color: black;
}

.event-5 {
    background-color: rgb(0, 0, 0);
}

.event-6 {
    background-color: black;
}

.event-7 {
    background-color: rgb(146, 146, 146);
    color: black;
}

.event-8 {
    background-color: rgb(0, 0, 0);
}

.event-9 {
    background-color: rgb(146, 146, 146);
    color: black;
}

.event-10 {
    background-color: rgb(0, 0, 0);
}

@media screen and (max-width: 768px) {
    .events-slider-section{
        height: inherit;
        margin-bottom: -1rem;
    }
    .event-name{
        font-size: 2.5rem;
    }
    .card-event {
        flex: 1;
        height: 25vh;
    }
    img {
        object-position: top;
    }
    .card-event:hover{
        height: fit-content;
    }

    .wrapper1 {
        display: block;
        height: fit-content;
        width: 100dvw;
        margin-left: -1rem;

    }
    .wrapper2 {
        display: none;
        visibility: hidden;
        opacity: 0;

    }
}

